PORT=3000
NODE_ENV=production

DATABASE_URL=postgresql://trainapp:password@trainapp-postgres:5432/trainapp?schema=public

JWT_ACCESS_SECRET=change-this-secret

REDIS_HOST=trainapp-redis
REDIS_PORT=6379